<ng-template #tmpl1 let-data="data">
  <app-popover-content [data]="data"></app-popover-content>
</ng-template>

<ng-template #tmpl2>
  <app-popover-content></app-popover-content>
</ng-template>

<div fxLayout="row" fxLayoutGap="20px">
  <fs-popover [template]="tmpl1" [data]="account" wrapperClass="wrapper">
    <button mat-raised-button color="primary">MouseOver for Popover</button>
  </fs-popover>

  <fs-popover [template]="tmpl2" [width]="200">
    <button mat-raised-button color="primary">MouseOver for Popover</button>
  </fs-popover>
</div>
