:host {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

::ng-deep {
  fs-popover.indication {
    .line {
      width: 100%;
      bottom: 0;
      border-bottom: 1px dashed #ccc;
      position: absolute;
      opacity: .6;
    }
  }
}

// ::ng-deep {
//   fs-popover.indication {
//     .line-container {
//       position: absolute;
//       width: 100%;
//       bottom: 0;
//     }

//     .line {
//       border-bottom: 1px dashed #ccc;
//       height: 1px;
//       opacity: .6;
//       width: 0;
//       margin: auto;
//       transition: width 1s ease, background-color 1s ease;
//     }

//     &:hover .line {
//       width: 100%;
//     }
//   }
// }
