:host {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

::ng-deep {
  fs-popover.indication {
    .popover-container {
      text-decoration: underline;
      text-decoration-style: dashed;
      text-decoration-color: #ccc;
      text-underline-offset: 3px;
      text-decoration-thickness: 1px;
    }
  }
}
