:host {
  padding: 5px 0;
  animation: fadeIn ease 0.2s;
}

.popover-content {
  background: #fff;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
