$arrow-size: 10px;
$arrow-offset: -3;
$dark-arrow-color: rgb(223 223 223 / 25%);
$dark-theme-color: #707070;

.wrapper {
  padding: 6px;
  animation: fadeIn ease 0.2s;

  &.hidden {
    display: none;
  }

  .popover-content {
    background: #fff;
    border-radius: 4px;
    padding: 8px;
    color: #1b1b1b;
    box-sizing: border-box;
    overflow: hidden;
  }

  &.theme-dark .popover-content {
    background-color: $dark-theme-color;
    color: #fff;
  }

  &.size-small .popover-content {
    font-size: 80%;
  }

  &.size-tiny .popover-content {
    font-size: 75%;
  }

  .fs-popover-arrow {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: 200;
    z-index: 1;

    &.dark {
      z-index: 0;
    }
  }
}

::ng-deep {

  .fs-popover-top, .fs-popover-bottom {
    .fs-popover-arrow {
      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid transparent;
    }
  }

  .fs-popover-left, .fs-popover-right {
    .fs-popover-arrow {
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
    }
  }

  .fs-popover-top {
    .fs-popover-arrow {
      bottom: $arrow-offset + px;
      left: calc(50% - #{$arrow-size});
      border-top: $arrow-size solid #fff;

      &.dark {
        border-top-color: $dark-arrow-color;
        bottom: $arrow-offset - 1px;
      }
    }
  }

  .fs-popover-bottom {
    .fs-popover-arrow {
      top: $arrow-offset + px;
      left: calc(50% - #{$arrow-size});
      border-bottom: $arrow-size solid #fff;

      &.dark {
        border-bottom-color: $dark-arrow-color;
        top: $arrow-offset - 1px;
      }
    }
  }

  .fs-popover-left {
    .fs-popover-arrow {
      left: $arrow-offset + px;
      top: calc(50% - #{$arrow-size});
      border-right: $arrow-size solid #fff;

      &.dark {
        border-right-color: $dark-arrow-color;
        left: $arrow-offset - 1px;
      }
    }
  }

  .fs-popover-right {
    .fs-popover-arrow {
      right: $arrow-offset + px;
      top: calc(50% - #{$arrow-size});
      border-left: $arrow-size solid #fff;

      &.dark {
        border-left-color: $dark-arrow-color;
        right: $arrow-offset - 1px;
      }
    }
  }


  .fs-popover-bottom .wrapper.theme-dark {
    .fs-popover-arrow {
      border-bottom-color: $dark-theme-color;
    }
  }

  .fs-popover-left .wrapper.theme-dark {
    .fs-popover-arrow {
      border-right-color: $dark-theme-color;
    }
  }
  .fs-popover-right .wrapper.theme-dark {
    .fs-popover-arrow {
      border-left-color: $dark-theme-color;
    }
  }

  .fs-popover-top .wrapper.theme-dark {
    .fs-popover-arrow {
      border-top-color: $dark-theme-color;
    }
  }
}

.loading-spinner {
  //position: fixed;
  margin-top: 10px;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

